html {
    background-color: rgb(3, 161, 201);
}
body {
    width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}
h1 {
    text-align: center;
    font-size: 65px;
    margin: 50px;
}
.burgersAvailable {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #40f85c;
    border: none;
}
.burgersAvailable:hover {
    background-color: #33ff52;
}
.burgersEaten {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #ff573a;
}
h2 {
     text-align: center;
    font-size: 40px;
    margin: 50px;
}
.formContainer {
    background-color: #E7B366;
}
.addBurgerButton {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #E7B366;
    border: none;
}
.addBurgerButton:active {
   background-color: #E7B366;
}